@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Trocchi');

.App {
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    margin: 1em auto;
}

.App-logo {
    height: 200px;
}

.App-header {
    text-align: center;
}

h2 {
    color: #7B6F55;
    font-family: 'Trocchi', serif;
    font-size: 2em;
    font-weight: normal;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #766049;
}

.control-label {
    color: #766049;
}